@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ben's House<br />
    Dunne-416<br />
    <abbr title="Phone">P:</abbr>
    425.698.9491
</address>

<address>
    <strong>Support:</strong> <a href="mailto:cajole@live.com">cajole@live.com</a><br />
</address>
